/*General Selectors*/
body
{
    background-color: rgb(155, 155, 155);
    
}
/*ID Selectors (#)*/
#header
{

}
#nav-bar
{
    position: fixed;
    width: 100%;

}
#header-img
{
    height: 100px;
   
}

#main-container
{
    background-color: black;
    max-height: 1200px;
    min-height: 600px;
    max-width: 1200px;
    min-width: 650px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 10%;
    position: absolute;
    
}

#form
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid red;
    flex-direction: column;

    
}
#form label{
    color: red;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
}

#how-it-works-container
{
    display: flex;
    justify-content: center;
}

/*Class Selectors (.)*/
.nav-list{
    /*background-color: white;
     box-shadow: 0px 0px 10px black;*/
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    border-radius: 10px;
   
    padding: 1rem;
}
.nav-list a
{
    text-decoration: none;
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    padding: 1rem;
}

.nav-link:first-child
{
    margin-right: auto;
}

.nav-link:last-child
{
    margin-right: 1rem;
}
.form-element{
    margin: 5px;
}

.features
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 40px 40px 40px;
    grid-gap: 1rem;
    padding-top: 15px;

}
.features-item1
{
    background: red;
}
.features-item2
{
    background: blue;
}
.features-item3
{
    background: yellow;
}
.features-item4
{
    background: green;
}
.features-item5
{
    background: pink;
}
.features-item6
{
    background: white;
}

.pricing
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 40px;
    grid-gap: 1rem;
    margin-bottom: 1rem;
}

.pricing-item1
{
    background: blue;
}
.pricing-item2
{
    background: red;
}
.pricing-item3
{
    background: yellow;
}
.footer
{
    background-color: pink;
    height: 50px;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: flex-end;
    padding: 5px;
}
.footer-item
{
    margin: 5px;
    
}
.footer .copyright
{
    color: red;
    align-self: flex-end;
}

.footer .privacy
{
    color: blue;
    
}
.footer .terms
{
    color: blue;
}
.footer .contact
{
    color: blue;
}


/*Pseudo-Class Selectors*/
.nav-link:hover
{
    color: red;
    transition: all 100ms ease-in;
}

/*Add atleast 1 media query #14*/

/*Media Queries*/

@media (max-width: 600px)
{
    body
    {
        background-color: red; 
    }
}
