/*General Selectors*/
body
{
    background-color: rgb(155, 155, 155);
    
}
/*ID Selectors (#)*/
#header
{

}
#nav-bar
{
    position: fixed;
    width: 100%;

}
#header-img
{
    height: 100px;
   
}

#main-container
{
    background-color: gray;
 
    max-width: 1200px;
    min-width: 650px;
    width: 100%;
    margin-right: auto;
    margin-left: 300px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 10%;
    position: absolute;
    
}
#features
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 40px 40px 40px;
    grid-gap: 1rem;
    padding-top: 15px;
    

}
#pricing
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 40px;
    grid-gap: 1rem;
    margin-bottom: 1rem;
}

#form
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    
}
#form label{
   
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
}

#how-it-works-container
{
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 450px;
    margin-bottom: 150px;
}

/*Class Selectors (.)*/
.nav-list{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    border-radius: 10px;
   
    padding: 1rem;
}
.nav-list a
{
    text-decoration: none;
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    padding: 1rem;
}

.nav-link:first-child
{
    margin-right: auto;
}

.nav-link:last-child
{
    margin-right: 1rem;
}
.form-element{
    margin: 5px;
}


.features-icon img
{
    height: 100px;

}

.features-icon.icon2
{
    margin-top: 100px;
}

.features-icon.icon3
{
    margin-top: 200px;
}

.features-description 
{
    height: 150px;  
}

.features-description.desc2
{
    margin-top: 100px;
}

.features-description.desc3
{
    margin-top: 200px;
}



.pricing-item1
{
    background: blue;
}
.pricing-item2
{
    background: red;
}
.pricing-item3
{
    background: yellow;
}
.footer
{
    background-color: pink;
    height: 50px;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: flex-end;
    padding: 5px;
}
.footer-item
{
    margin: 5px;
    
}
.footer .copyright
{
    color: red;
    align-self: flex-end;
}

.footer .privacy
{
    color: blue;
    
}
.footer .terms
{
    color: blue;
}
.footer .contact
{
    color: blue;
}


/*Pseudo-Class Selectors*/
.nav-link:hover
{
    color: red;
    transition: all 100ms ease-in;
}

/*Add atleast 1 media query #14*/

/*Media Queries*/

@media (max-width: 600px)
{
    body
    {
        background-color: red; 
    }
}
